<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>BaseDatos</servlet-name>
        <servlet-class>BDatos.BaseDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BDreservasp</servlet-name>
        <servlet-class>BDatos.BDreservasp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Inicio.inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservasp</servlet-name>
        <jsp-file>/jsp/reservas.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Inicio.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menu</servlet-name>
        <jsp-file>/jsp/menu.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>reservasPoli</servlet-name>
        <jsp-file>/jsp/consultreserv.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PortalCertific</servlet-name>
        <jsp-file>/jsp/port.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GenDatos</servlet-name>
        <jsp-file>/jsp/portal.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GeneraCertificado</servlet-name>
        <jsp-file>/jsp/gencer.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GenCertEstud</servlet-name>
        <jsp-file>/jsp/opcertific.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GenCertEstudAct</servlet-name>
        <jsp-file>/jsp/certactual.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GeneraPdf</servlet-name>
        <jsp-file>/jsp/generaarchpdf.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GenCertEstudAnt</servlet-name>
        <jsp-file>/jsp/certanterior.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CertificFormaliz</servlet-name>
        <jsp-file>/jsp/certform.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CertFormaliza</servlet-name>
        <jsp-file>/jsp/certformalizacion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>TermEstudios</servlet-name>
        <jsp-file>/jsp/termestudios.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CertTermEstudios</servlet-name>
        <jsp-file>/jsp/certtermestudios.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GradoPreg</servlet-name>
        <jsp-file>/jsp/gradopreg.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CertGradoPreg</servlet-name>
        <jsp-file>/jsp/certgradopreg.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EstudPosg</servlet-name>
        <jsp-file>/jsp/estudiospos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CertEstudPos</servlet-name>
        <jsp-file>/jsp/cerepos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CertGradoPos</servlet-name>
        <jsp-file>/jsp/certgradopos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GenPdfForm</servlet-name>
        <jsp-file>/jsp/genpdfformaliz.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GenPdfPos</servlet-name>
        <jsp-file>/jsp/genpdfposgrado.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseDatos</servlet-name>
        <url-pattern>/BaseDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BDreservasp</servlet-name>
        <url-pattern>/BDreservasp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservasp</servlet-name>
        <url-pattern>/Reservasp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservasPoli</servlet-name>
        <url-pattern>/reservasPoli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PortalCertific</servlet-name>
        <url-pattern>/PortalCertific</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenDatos</servlet-name>
        <url-pattern>/GenDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneraCertificado</servlet-name>
        <url-pattern>/GeneraCertificado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenCertEstud</servlet-name>
        <url-pattern>/GenCertEstud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenCertEstudAct</servlet-name>
        <url-pattern>/GenCertEstudAct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneraPdf</servlet-name>
        <url-pattern>/GeneraPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenCertEstudAnt</servlet-name>
        <url-pattern>/GenCertEstudAnt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificFormaliz</servlet-name>
        <url-pattern>/CertificFormaliz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertFormaliza</servlet-name>
        <url-pattern>/CertFormaliza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TermEstudios</servlet-name>
        <url-pattern>/TermEstudios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertTermEstudios</servlet-name>
        <url-pattern>/CertTermEstudios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradoPreg</servlet-name>
        <url-pattern>/GradoPreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertGradoPreg</servlet-name>
        <url-pattern>/CertGradoPreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstudPosg</servlet-name>
        <url-pattern>/EstudPosg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertEstudPos</servlet-name>
        <url-pattern>/CertEstudPos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertGradoPos</servlet-name>
        <url-pattern>/CertGradoPos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenPdfForm</servlet-name>
        <url-pattern>/GenPdfForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenPdfPos</servlet-name>
        <url-pattern>/GenPdfPos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>null//10.1.1.55:</description>
        <res-ref-name>jdbc/definitivo</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <description>null//10.1.1.55:</description>
        <res-ref-name>jdbc/registro</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
