<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Empresa</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.RegistroEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PantallaRegistroEmpresa</servlet-name>
        <jsp-file>/JSP/EMPRESA/RegistroEmpresa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaDetalleRetoEmpresa</servlet-name>
        <jsp-file>/JSP/EMPRESA/PantallaDetalleReto.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaConsultaEquiposEstudiante</servlet-name>
        <jsp-file>/JSP/ESTUDIANTE/PantallaConsultaEquiposEstudiante.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaConsultaAsignacionEquipos</servlet-name>
        <jsp-file>/JSP/TUTORES/PantallaConsultaAsignacionEquipos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaPostulaEquipoRetoEstudiante</servlet-name>
        <jsp-file>/JSP/ESTUDIANTE/PantallaPostulaEquipoRetoEstudiante.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaPanelControlEstudiante</servlet-name>
        <jsp-file>/JSP/ESTUDIANTE/PantallaPanelControlEstudiante.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaPanelControlTutor</servlet-name>
        <jsp-file>/JSP/TUTORES/PantallaPanelControlTutor.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaCalificarEntregables</servlet-name>
        <jsp-file>/JSP/TUTORES/PantallaCalificarEntregables.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaRegistroEstudiante</servlet-name>
        <jsp-file>/JSP/ESTUDIANTE/PantallaRegistroEstudiante.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaConsultaRetoAdministrador</servlet-name>
        <jsp-file>/JSP/ADMINISTRADOR/PantallaConsultaRetoAdministrador.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaInformesEventosAdministrador</servlet-name>
        <jsp-file>/JSP/ADMINISTRADOR/PantallaInformesEventosAdministrador.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaDetalleRetoAdministrador</servlet-name>
        <jsp-file>/JSP/ADMINISTRADOR/PantallaDetalleRetoAdministrador.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroReto</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.RegistroReto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroEvento</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.RegistroEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroEstudiante</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.RegistroEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroEquipo</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.RegistroEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscripcionParticipanteEquipo</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.InscripcionParticipanteEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarFechasEntregables</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.ActualizarFechasEntregables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroTutor</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.RegistroTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignarTutor</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.AsignarTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarEntregableAsociados</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.GuardarEntregableAsociados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarEntregableAsociado</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.ActualizarEntregableAsociado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEntregableAsociados</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.EliminarEntregableAsociados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroParametro</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.RegistroParametro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarEntregable</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.CargarEntregable</servlet-class>
        <multipart-config>
           <!--  <location>C:\Sun\AppServer\config\Acero\Entregables</location>-->
            <location>/usr/local/SUN/2/glassfish/domains/domain1/docroot/Acero/Entregables</location>
            <max-file-size>35000000</max-file-size>
            <max-request-size>218018841</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>DescargarArchivo</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.DescargarArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarInfoEntregable</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.ActualizarInfoEntregable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarEvento</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.CerrarEvento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PantallaConsultaRetoAdministrador</servlet-name>
        <url-pattern>/PantallaConsultaRetoAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaInformesEventosAdministrador</servlet-name>
        <url-pattern>/PantallaInformesEventosAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaDetalleRetoEmpresa</servlet-name>
        <url-pattern>/PantallaDetalleRetoEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaPostulaEquipoRetoEstudiante</servlet-name>
        <url-pattern>/PantallaPostulaEquipoRetoEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaDetalleRetoAdministrador</servlet-name>
        <url-pattern>/PantallaDetalleRetoAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaConsultaEquiposEstudiante</servlet-name>
        <url-pattern>/PantallaConsultaEquiposEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaConsultaAsignacionEquipos</servlet-name>
        <url-pattern>/PantallaConsultaAsignacionEquipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaPanelControlEstudiante</servlet-name>
        <url-pattern>/PantallaPanelControlEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaPanelControlTutor</servlet-name>
        <url-pattern>/PantallaPanelControlTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaCalificarEntregables</servlet-name>
        <url-pattern>/PantallaCalificarEntregables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaRegistroEstudiante</servlet-name>
        <url-pattern>/PantallaRegistroEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaRegistroTutores</servlet-name>
        <url-pattern>/PantallaRegistroTutores</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PantallaRegistroTutores</servlet-name>
        <jsp-file>/JSP/TUTORES/PantallaRegistroTutores.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreacionNuevoRetoEmpresa</servlet-name>
        <jsp-file>/JSP/EMPRESA/CreacionNuevoRetoEmpresa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaConsultaRetosEmpresa</servlet-name>
        <jsp-file>/JSP/EMPRESA/PantallaConsultaRetos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EdicionRetoEmpresa</servlet-name>
        <jsp-file>/JSP/EMPRESA/EdicionRetoEmpresa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaPanelControlEmpresa</servlet-name>
        <jsp-file>/JSP/EMPRESA/PantallaPanelControlEmpresa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaInicioSesion</servlet-name>
        <jsp-file>/JSP/COMUN/InicioSesion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaNuevoEventoAdministrador</servlet-name>
        <jsp-file>/JSP/ADMINISTRADOR/PantallaNuevoEventoAdministrador.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaPanelControlAdministrador</servlet-name>
        <jsp-file>/JSP/ADMINISTRADOR/PantallaPanelControlAdministrador.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaConsultaEventosAdministrador</servlet-name>
        <jsp-file>/JSP/ADMINISTRADOR/PantallaConsultaEventosAdministrador.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaConsultarReporteCierre</servlet-name>
        <jsp-file>/JSP/ADMINISTRADOR/PantallaConsultarReporteCierre.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PantallaEdicionEventoAdministrador</servlet-name>
        <jsp-file>/JSP/ADMINISTRADOR/PantallaEdicionEventoAdministrador.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ActualizarEstadoReto</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.ActualizarEstadoReto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostulaEquipoReto</servlet-name>
        <servlet-class>edu.escuelaing.acero.servlets.PostulaEquipoReto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EdicionRetoEmpresa</servlet-name>
        <url-pattern>/EdicionRetoEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaEdicionEventoAdministrador</servlet-name>
        <url-pattern>/PantallaEdicionEventoAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaConsultaEventosAdministrador</servlet-name>
        <url-pattern>/PantallaConsultaEventosAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaConsultarReporteCierre</servlet-name>
        <url-pattern>/PantallaConsultarReporteCierre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaPanelControlAdministrador</servlet-name>
        <url-pattern>/PantallaPanelControlAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaNuevoEventoAdministrador</servlet-name>
        <url-pattern>/PantallaNuevoEventoAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreacionNuevoRetoEmpresa</servlet-name>
        <url-pattern>/CreacionNuevoRetoEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaConsultaRetosEmpresa</servlet-name>
        <url-pattern>/PantallaConsultaRetosEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaPanelControlEmpresa</servlet-name>
        <url-pattern>/PantallaPanelControlEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaInicioSesion</servlet-name>
        <url-pattern>/PantallaInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantallaRegistroEmpresa</servlet-name>
        <url-pattern>/PantallaRegistroEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empresa</servlet-name>
        <url-pattern>/Empresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroReto</servlet-name>
        <url-pattern>/RegistroReto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroEvento</servlet-name>
        <url-pattern>/RegistroEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroEstudiante</servlet-name>
        <url-pattern>/RegistroEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroEquipo</servlet-name>
        <url-pattern>/RegistroEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscripcionParticipanteEquipo</servlet-name>
        <url-pattern>/InscripcionParticipanteEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarEstadoReto</servlet-name>
        <url-pattern>/ActualizarEstadoReto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostulaEquipoReto</servlet-name>
        <url-pattern>/PostulaEquipoReto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarFechasEntregables</servlet-name>
        <url-pattern>/ActualizarFechasEntregables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroTutor</servlet-name>
        <url-pattern>/RegistroTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignarTutor</servlet-name>
        <url-pattern>/AsignarTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarEntregableAsociados</servlet-name>
        <url-pattern>/GuardarEntregableAsociados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarEntregableAsociado</servlet-name>
        <url-pattern>/ActualizarEntregableAsociado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEntregableAsociados</servlet-name>
        <url-pattern>/EliminarEntregableAsociados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroParametro</servlet-name>
        <url-pattern>/RegistroParametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarEntregable</servlet-name>
        <url-pattern>/CargarEntregable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescargarArchivo</servlet-name>
        <url-pattern>/DescargarArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarInfoEntregable</servlet-name>
        <url-pattern>/ActualizarInfoEntregable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarEvento</servlet-name>
        <url-pattern>/CerrarEvento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>PantallaInicioSesion</welcome-file>
        <welcome-file>InicioSesion.jsp</welcome-file>
    </welcome-file-list>
</web-app>
